body {
  background-image: url("http://orig02.deviantart.net/5fb3/f/2013/097/0/1/tron__legacy_style_wallpaper_by_inityx-d60ru17.png");
}

#game-canvas {
  margin: auto;
  display: block;
  border-radius: 5px;
  width: 800px;
  height: 600px;
}

#header-image {
  width: 1000px;
  height: 250px;
  display: block;
  margin: 0 auto;
  background-image: url('./ultraLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#timer {
  position: absolute;
  color: white;
  top: 250px;
  width: 50px;
  right: 100px;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(0,0,0,.8);
  padding: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}

#instructions {
  height: 360px;
  width: 300px;
  position: absolute;
  color: white;
  top: 250px;
  left: 10px;
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(0,0,0,.8);
  padding: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}
